@font-face {
    font-family: "BrushScriptStd";
    src: url("fonts/BrushScriptStd.otf") format("truetype");
    font-style: italic;
    font-weight: 800;
}

a, button, h1, h2, h3, h4, h5, h6, img, input, p, select {
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

img, img a {border: 0}
.btn-change:hover{
    -webkit-transform: scale(1.1);
}

html {
    height: inherit;
    min-height: 100%;
    position: relative;
}

body {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    height: 100%;
    position: static;
    padding: inherit;
    background: url(images/body.png) no-repeat center;
    background-size: cover;
    font-family: 'Comfortaa', 'Calibri', 'Montserrat', cursive;
    color: #054A71;
}

a, div, h1, h2, h3, h4, h5, h6, img, input, li, p, select, ul {
    margin: 0;
    padding: 0;
    outline: 0 !important;
    box-shadow: none;
    border: 0;
    list-style: none;
    font-weight: normal
}

a, button, h1, h2, h3, h4, h5, h6, img, input, p, select {
    transition: all .5s ease 0s
}

img {
    max-width: 100%
}

.display-none {
    display: none;
}

.modal_failed p {
    color: #333;
    font-size: 16px;
    text-align: center;
}

.modal_failed .modal-body {
    padding-top: 0;
    padding-bottom: 50px;
    color: #333;
    text-align: center;
}

.top-logo {
    text-align: center;
    margin: 15px 0;
}

.top-logo img, .slider_info img {
    width: 100px;
}

.top-logo p {
    text-transform: uppercase;
    color: #054A71;
    margin-top: 10px;
    font-weight: 600;
}
/*** Athena front ***/
.step-lidiya {
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-lidiya img {
    max-width: 180px;
}

.mid-main-box {
    width: 700px;
    margin: 0 auto 0px;
    text-align: center;
    padding: 0 0 40px;
}

.mid-main-box h2 {
    font-size: 36px
}

.mid-main-box h3 {
    font-weight: 700
}

.radio_area {
    text-align: left;
    padding: 0 30px;
}

.emails h2 {
    font-size: 24px;
    text-transform: none;
    margin: 9px 0 9px;
}

.m_box.calenderval {
    padding: 8px;
}

.m_box.calenderval1 {
    padding: 8px;
}

.form-control::-moz-placeholder {
    color: #FFF;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #FFF;
}

.form-control::-webkit-input-placeholder {
    color: #FFF;
}

h2 {
    color: #054A71;
    margin: 10px 0 30px 0;
    font-size: 60px;
    letter-spacing: 0;
    text-align: center;
}

/* *** All Button *** */
.btn_1 {
    width: 250px;
    height: 66px;
    padding: 0 21px;
    display: inline-block;
    margin: 20px auto 0;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    background-color: #F2994A;
    border-radius: 40px;
    appearance: none;
    color: #fff;
    transition: all .5s ease 0s;
    overflow: hidden;
    cursor: pointer;
}

.bx_in:hover, .btn_1:hover {
    text-decoration: none;
    box-shadow: -2px 21px 30px -6px rgba(226, 167, 65, 0.36);
}

/*******/
.pre_btn, .btn_chose, .btn_time {
    cursor: pointer;
}

.pre_btn:hover {
    color: #F2994A;
}

.btn_chose, input[type=text], .btn_time {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #054A71;
    background-color: #fff;
    border: solid 1px #A3B2BB;
    border-radius: 25px;
    margin-left: 10px;
    transition: all .5s ease 0s;
}

.btn_time:hover, .btn_chose:hover {
    background-color: #F2994A;
    color: white;
    border-color: #F2994A;
}

.btn_chose span {
    margin-left: 10px;
}

.btn_1, .btn_chose {
    outline: none;
}

/*****/
.button-email-next, input[type=email], #city, .final-btn {
    width: 80%;
}

input[type=email], #city, .input-tel {
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    border: solid 1px #A3B2BB;
    border-radius: 35px;
    color: #054A71;
}

/****/
/*Forms input*/
select.form-control, select.time_dd, select.time_d {
    width: 115px;
    height: 40px;
    margin: 5px 10px;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    background-color: #fff;
    border: solid 1px #A3B2BB;
    border-radius: 25px;
    cursor: pointer;
}

/*Forms focus*/
.form-control:focus, select.time_dd:focus, select.time_d:focus {
    border-color: #EFF3F4;
    background-color: rgb(237, 248, 246);
    color: #054A71;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(191, 186, 200);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(187, 181, 200);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(223, 217, 234);
}

.error, .agree-check {
    display: none;
    padding: 10px;
    background: transparent;
    color: #f60404;
    font-size: 16px;
    font-weight: 600;
    margin: -10px;
}

/* *** All Button -end *** */
/* *** Step1 *** */
.title-main {
    color: #054A71;
    /*margin: 10px 0 30px 0;*/
    font-family: "BrushScriptStd";
    font-size: 28px;
    text-align: center;
    padding-left: 10px;
}

.step_1 h2 {
    margin: 0;
}

.step_1 p, .step__count {
    color: #054A71;
    text-transform: lowercase;
}

.step_1 p {
    font-size: 16px;
    font-weight: 100;
    text-transform: none;
    max-width: 550px;
    margin: 10px auto;
}

.step_1 p span {
    color: #edf606;
}

.button-box {
    width: 137px;
    display: inline-block;
    margin: 5px;
    padding: 5px 0;
    cursor: pointer;
}

.box-sign {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.sign-box.a {
    display: flex;
}

.button-box a {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 2px solid transparent;
    transition: .3s;
}

.button-box a:hover {
    transform: translateY(-3px);
    border-radius: 20px;
    background-color: #fff;
}

.button-box_fire a:hover {
    border-bottom: 2px ridge #FFC4C4;
    box-shadow: 0px 5px 38px 31px rgba(255, 196, 196, 0.29);
}

.button-box_earth a:hover {
    border-bottom: 2px ridge #FFCEAD;
    box-shadow: 0px 5px 38px 31px rgba(255, 206, 173, 0.29);
}

.button-box_air a:hover {
    border-bottom: 2px ridge #DBC4FF;
    box-shadow: 0px 5px 38px 31px rgba(219, 196, 255, 0.29);
}

.button-box_water a:hover {
    border-bottom: 2px ridge #B0EAFF;
    box-shadow: 0px 5px 38px 31px rgba(176, 234, 255, 0.29);
}

.sign-box__img {
    display: inline-flex;
    border: 2px solid #EFF3F4;
    background-color: white;
    border-radius: 8px;
    height: 100px;
    width: 100px;
    padding: 20px;
    margin-bottom: 10px;
}

.sign-box__img img {
    width: 80px;
}

.sign-box__img:hover {
    box-shadow: 5px 5px 21px 6px rgba(0, 0, 0, 0.04);
}

#join-chat-button,
#join-chat-button2 {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

#join-chat-button:hover,
#join-chat-button2:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
}

.button-box a span:first-child {
    color: #A3B2BB;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}

.button-box a span {
    color: #054A71;
    text-transform: uppercase;
    display: block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.bx_in a {
    color: #fff;
    display: block
}

.bx_in a:hover {
    text-decoration: none
}

.m_box.decade .bx_in {
    width: 80% !important;
    height: 108px !important;
    line-height: 108px !important;
    font-size: 30px;
    margin: 0 auto 20px;
    display: table;
}

.m_box.year_app .bx_in {
    width: 80% !important;
    height: 108px !important;
    line-height: 108px !important;
    font-size: 30px;
    margin: 0 auto 20px;
    display: table;
}

.step_5.slide .bx_in {
    width: 110px !important;
    height: 108px !important;
    line-height: 108px !important;
    font-size: 30px;
    margin: 0 11px 0;
    display: inline-block;
}

.step_5 h2 span {
    font-size: 20px;
}

/* *** Step 2 *** */
.m_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pre_btn.back {
    float: none;
    margin: 40px auto;
    color: #054A71
}

.pre_btn.back:hover {
    color: #d28313
}

.chose {
    display: flex;
    justify-content: center;
}

.personal-date, .date_text {
    font-family: Montserrat;
    font-size: 16px;
    margin-top: 30px;
}

.continue {
    width: 175px;
}

/* *** 3-2  step_city *** */
.step_city {
    display: none;
}

#city {
    margin-left: 0;
}

/* *** 3- 3 step_time*** */

.step_time, .step_time-enter {
    display: none;
}

/* *** Step 4 *** */
.m_box_group.check-material {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.check-material input {
    display: none
}

.check-material input:checked + label {
    background: linear-gradient(31deg, rgba(37, 150, 215, 1) 62%, rgba(133, 211, 255, 1) 100%);
    border-color: #2596d7;
    padding: 12px;
    color: white
}

.check-material input:checked + label:after {
    transform: scale(1.3)
}

.check-material label {
    display: block;
    box-sizing: border-box;
    width: 155px;
    min-width: 133px;
    height: 46px;
    padding: 12px;
    color: #054A71;
    background: #fff;
    border: 1px solid #A3B2BB;
    border-radius: 35px;
    position: relative;
    cursor: pointer;
    transition: .2s;
    margin: 10px;
}

.check-material label:before {
    content: '';
    position: absolute;
    display: block;
    height: 300%;
    width: 300%;
    top: -100%;
    left: -100%;
    z-index: -1;
    border-radius: 50%;
    transition: .3s
}

.check-material label:hover {
    background: linear-gradient(31deg, rgba(255, 255, 255, 1) 62%, rgba(133, 211, 255, 1) 100%);
}

/* *** Step 4- end *** */
.step_6 .m_box {
    text-align: center
}

.time_dd, .time_d {
    padding-left: 10px
}

.step_5 .m_box {
    text-align: center
}

.time_dd, .time_d {
    width: 100%;
    margin-bottom: 20px;
}

.gndr {
    margin-top: 20px;
}

.step_2, .step_3, .step_4, .step_5, .step_6, .step_8 {
    display: none
}

.step_5 .m_box .bx_in {
    text-transform: uppercase
}

/*** Steps 6 ***/

.input-email {
    margin: 10px;
}

.label-agree {
    margin: 15px 0;
}
/* *** Steps ***  */
.m_box_date input::placeholder {
    text-align: center;
    color: #054A71;
}

.m_box_date, input[type=text], input[type=email], .btn_chose, .btn_time, .input-tel {
    padding: 14px;
}

/*  *** Step 6 *** */

/* custom-checkbox */
.checkbox {
    position: relative;
    margin-bottom: 1rem;
    max-width: 539px;
}

.checkbox__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox label.checkbox__label {
    padding-left: 35px;
    text-align: start;
    font-size: 13px;
    font-weight: 400;
}

.checkbox__label:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #A3B2BB;
    border-radius: 3px;
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 1;
    transition: background .1s linear, border .1s linear;
}

.checkbox__label:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("images/check.svg") no-repeat;
    background-size: 12px 12px;
    opacity: 0;
    position: absolute;
    top: 12px;
    left: 3px;
    z-index: 2;
    transition: opacity .1s linear;
}

.checkbox__input:checked + .checkbox__label:before {
    background: linear-gradient(31deg, rgba(37, 150, 215, 1) 62%, rgba(133, 211, 255, 1) 100%);
    border-color: #2596d7;
}

.checkbox__input:checked + .checkbox__label:after {
    opacity: 1;
}

.mid-cirle {
    background: url(images/bottom.png) center bottom /cover no-repeat;
}

/*** Load ***/
.loader {
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    top: calc(50% - 120px);
    left: calc(50% - 60px);
    animation: spin 2s linear infinite;
    margin: 10px auto;
    z-index: 4;
    display: block;
}

.loader {
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    opacity: .6;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.bad-response {
    display: none;
    color: red;
    font-weight: 600;
}

/* steps */
#loadImg, .clarifications {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 5;
}
.step_8 p {
    text-align: left;
    font-size: 16px;
}

.step_8__thanks {
    font-size: 20px;
    margin: 15px 0;
}

.step_8 .accent {
    color: orange;
}

.step_8__title, .step_8__white-box {
    margin-bottom: 20px;
}
.step_8__white-box {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #054a71;
    border-radius: 10px;
}

.step_8__white-box, .step_8__white-box li, .step_8__white-box p {
    font-weight: 600;
}

.step_8__white-box p {
    margin-bottom: 20px;
}
.step_8__list li {
    position: relative;
    text-align: left;
    padding-left: 12px;
}
.step_8__list li:before{
    position: absolute;
    content: '';
    top:44%;
    left:0;
    transform:translate(-50%, -50%);
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #EC6525;

}
.step_8__list .top-0:before{
    top: 27% !important;
}
.step_8 ul{
    margin-left: 20px;
}
.disabledLink{
    pointer-events: none;
    width: 95px;
    padding: 10px;
}

.clarification-box input{
    width: 108px;
}
.clarification-date, .clarification-email, .clari-btn {
    display: none;
}

.clari-btn {
    text-align: center;
}

.clari-btn:hover {
    text-decoration: none;
}

.other-color {
    color: orange;
}
/** text **/

.slide_title {
    margin-bottom: 30px;
}
/* Fix box NO */

.fix-btn, .fix-btn-date, .fix-btn-email {
    width: 180px;
    height: 40px;
}

.box-fix, .m_box_date_fix, .box-fix_email  {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-fix_name, .box-fix_date {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-fix_name input {
    margin: 5px;
    min-width: 230px;
}
.box-fix_date {
    flex-direction: column;
}
.m_box-select {
    justify-content: space-between;
}
.box-fix_email {
    margin-top: 10px;
}

/**** End clarifications ***/

/**Athena **/
.success-inform {
    margin-top: 10px;
}

.lidiya {
    padding: 30px 0 0;
}

.users_name {
    font-weight: 700;
}

.slide_user {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    border-bottom: 1px solid #004973;
}

.slide_user p {
    font-size: 20px;
    max-width: 600px;
}

.success h2 {
    text-align: center;
    font-size: 30px;
}

.success-bold {
    font-weight: 800;
}

.success-dialog {
    margin-top: 20px;
}

.success-dialog h4 {
    color: #004973;
    font-weight: 700;
    margin-top: 25px;
}

.success-dialog p {
    margin-top: 20px;
    font-size: 16px;
}

p.success_text {
    font-size: 21px;
    margin-bottom: 10px;
    font-weight: 700;
}

.orange {
    color: #F2994A;
    font-weight: 600;
}

.success-dialog, .success-privacy, .important {
    text-align: left;
}

.success_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.success_info {
    max-width: 610px;
    padding: 0 10px;
}

.success_card img {
    max-width: 400px;
    margin: 10px 0;
}

.success_btn {
    display: block;
    height: 50px;
    line-height: 48px;
    border: 1px solid transparent;
}

.success_btn:hover {
    background-color: #fff;
    border: 1px solid #F2994A;
}

.important {
    margin: 40px 0 20px;
}

.bold-justify {
    text-align: justify;
}

.success-privacy {
    margin-top: 10px;
}

.final {
    padding: 20px;
}

h2.final_title {
    margin: 20px 0 45px;
    padding: 10px;
}

.final_title span {
    color: #F2994A;
    font-weight: 600;
}

.final_text {
    margin-bottom: 40px;
    padding: 10px;
    font-size: 16px;
}

.signature {
    max-width: 260px
}

.final-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.final-btn:hover {
    color: #fff;
}

.final .small-text {
    font-size: 8px;
}

/** Step Final **/
.personal-date {
    margin: 55px 0 40px;
    text-align: center;
}

.m_box_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line {
    display: block;
    border-top: 1px solid #004973;
    height: 1px;
    width: 60%;
    margin: 0 auto;
}
.button-email-next {
    margin-top: 40px;
}

.slider {
    overflow: hidden;
}

.slider_slick {
    margin-bottom: 20px;
}

.slick-slide img {
    display: inline-block;
    text-align: center;
}

.slider_info {
    text-align: center;
    margin: 20px 0;
}

.slick-dots li button:before {
    font-size: 16px;
}

.slider_title {
    color: #054A71;
    font-weight: 700;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.slider_text {
    text-align: center;
    font-size: 16px;
    color: #322A24;
    margin: 20px auto 0;
    padding: 0 20px;
    max-width: 450px;
}

.m_box_group, .m_box_date {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* *** Footer *** */
footer.footer {
    margin: -10px 0 0 0;
}

.footer {
    background-color: #EBDDD2;
    padding: 25px 0;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    min-width: 350px;
    margin: auto;
    width: 50%;
}

.footer-links.lending-links {
    width: 75%;
}

.footer-links a {
    color: #322A24;
}

.footer-links a:hover {
    color: #F2994A;
}
/* ----------------------------------2022-04-30---------- */
.step_mail__white-box{
    padding: 15px;
    background-color: #fff;
    border: 2px solid silver;
    border-radius: 30px;
    width: 82%;
    background: transparent;
}
.legend{
    width: 27%;
    margin-bottom: 14px;
    text-align: left;
    margin-left: 34px;
    font-size: 19px;
    line-height: inherit;
    color: silver;
    font-family: 'Circe-Light', sans-serif;
    border-bottom: 0px solid #e5e5e5 !important;
}
.check_text{
    font-size: 12px;
    font-family: 'Circe-Light', sans-serif;
}
.configProductName{
    font-family: cursive;
}
.m-20{
    margin-top: 20px;
}
.p-10{
    padding: 10px;
}
.p-5{
    padding: 5px;
}
.brandImg{
    width: 200px;
}
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;    
}
.align-items-center{
    align-items: center;
}

/* ------------------------------------------------------ */
/* Media adaptive specification */
@media (max-width: 1466px) {
    .mid-main-box {
        min-height: 250px;
    }
}

@media all and (min-width: 992px) and (max-width: 1024px) {
    .mid-main-box {
        min-height: 430px;
    }
    .time_dd, .time_d {
        width: 32%;
    }
    select.form-control, select.time_dd, select.time_d {
        padding: 0 10px 0 !important;
        height: 50px !important;
        line-height: 50px !important;
        background-position: 94% 23px, left top;
        background-repeat: no-repeat, repeat;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    .m_box.decade .bx_in {
        width: 80% !important;
        height: 90px !important;
        line-height: 99px !important;
        margin: 0 auto 20px;
    }
    .footer-bottom p {
        margin-bottom: 5px;
    }
}

@media all and (min-width: 768px) and (max-width: 992px) {
    .time_dd, .time_d {
        width: 32%;
    }
    .slide {
        width: 570px;
        margin: 20px auto;
    }
}

@media all and (min-width: 376px) and (max-width: 768px) {
    .button-box {
        margin: 5px;
        padding: 0;
    }
    .button-box a span {
        font-size: 15px;
    }
    .mid-main-box h2 {
        font-size: 22px
    }
    .social_icon{
        width: 60px;
    }
}

@media (max-width: 992px) {
    .slide_user p {
        text-align: center;
    }

    .success_card {
        flex-wrap: wrap;
        justify-content: center;
    }

    .success_text {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .step_8__list .top-0:before {
        top: 19% !important;
    }
    .brandImg {
        width: 120px;
    }
    .step_mail__white-box{
        padding: 6px;
        padding-bottom: 13px;
        width: 86%;
        margin-bottom: 10px;
    }
    .legend {
        width: 80px;
        font-size: 10px;
    }
    .check_text{
        font-size: 7px;
    }
    .top-logo {
        margin: 2px auto;
    }

    .main_form {
        padding: 0 10px;
    }

    .title-main {
        font-size: 24px;
        margin: 10px 0;
    }

    .step-lidiya img {
        max-width: 140px;
    }

    .sign-box__img {
        margin-bottom: 3px;
    }

    .button-box a span {
        font-size: 13px;
    }
    .step_1 p {
        font-size: 15px;
        margin: 3px auto;
    }
    .button-box {
        width: 100px;
    }
    .mid-main-box {
        min-height: auto;
    }
    h2 {
        font-size: 30px;
    }
    h2 span {
        font-size: 40px;
    }
    .step_7 h3 {
        margin: 0px 0 6px !important;
    }
    select.form-control {
        padding: 0 10px 0 !important;
        height: 50px !important;
        line-height: 50px !important;
    }
    .m_box.calenderval {
        padding: 0;
    }
    .m_box.calenderval1 {
        padding: 0;
    }
    .m_box.decade .col-md-3.col-sm-3.col-xs-2, .m_box.year_app .col-md-3.col-sm-3.col-xs-3 {
        width: 25%;
    }
    .step_5 h2 span {
        font-size: 25px !important;
        display: block;
        margin-top: 15px
    }
    .mid-main-box {
        width: auto
    }
    .top-logo {
        width: 200px;
        margin: 5px auto;
    }
    .btn_home {
        margin: 10px 0 0 5px;
        padding: 15px 20px;
    }
    .m_box_date input, select.time_dd {
        margin-bottom: 20px;
    }
    .footer-bottom {
        position: relative
    }
    .button-box a span:first-child {
        font-size: 12px;
    }
    body {
        background-size: auto !important
    }
    .step_2, .step_3, .step_4, .step_5, .step_6 {
        padding: 0 20px
    }
    .step_3 .bx_in, .step_4 .bx_in, .step_5 .bx_in {
        width: 100% !important;
        height: 122px !important;
        line-height: 130px !important;
        font-size: 23px !important
    }
    .step_3 .step_2 .bx_in {
        width: 19% !important
    }
    .m_box .time_dd, .time_d {
        width: 100%;
        padding: 0 10px
    }
    .m_box.decade .bx_in, .m_box.year_app .bx_in {
        width: 100% !important;
        height: 68px !important;
        line-height: 68px !important;
        font-size: 30px;
        margin: 0 auto 20px;
    }
    .personal-date {
        font-size: 15px;
    }
    .button-email-next {
        width: 100%;
    }
    .btn_time.clary_btn, .btn_time.date-btn, .btn_time.email-btn  {
        width: 180px;
    }
    .success {
        padding: 5px;
        font-size: 15px;
    }
    .success_info {
        text-align: center;
    }
    .slider {
        margin: 5px 0 60px;
    }
}

@media (min-width: 533px) and (max-width: 598px) {
    .m_box_group, .m_box_date {
        flex-direction: column;
    }
}


@media (max-width: 465px) {
    h4 {
        font-size: 15px;
    }
    .top-logo img {
        width: 70px;
    }
    .step-lidiya img {
        width: 85%;
    }
    .title-main {
        font-size: 20px;
        padding: 4px;
    }
    .step_1 p {
        margin: 3px auto;
    }
    .btn_1 {
        margin-top: 30px;
    }
    .mid-main-box h2, .step_7 h3, .mid-main-box h2 span {
        font-size: 18px;
    }
    .pre_btn.back {
        margin: 25px auto;
    }
    .button-box a span {
        font-size: 10px;
    }
    .button-box a span:first-child {
        font-size: 10px;
    }
    .step_1 p, .personal-date, .slider_text, .slider_title {
        font-size: 14px;
    }
    .button-box {
        margin: 1px;
        width: 84px;
        height: 125px;
        padding: 5px 0;
    }
    .btn_chose, .btn_time {
        margin-bottom: 10px;
    }
    .check-material label {
        width: 25%;
    }

    /*** clarification **/
    .slide p {
        font-size: 13px;
    }
    .clarifications-block {
        top: 0;
        padding: 5px;
    }
    .clarification-lidiya img {
        width: 90%;
    }
    .clarification-name, .clarification-date, .clarification-email {
        margin: 5px 0;
    }
    .btn_time.clary_btn,
    .btn_time.date-btn,
    .btn_time.email-btn,
    .m_box .time_dd {
        width: 108px;
    }
    .box-fix_name input, .btn_chose, .btn_time {
        margin: 5px;
        width: 115px;
    }
    .clari-btn {
        width: 90%;
    }
    .fix-btn, .fix-btn-date, .fix-btn-email{
        margin-top: 15px;
    }
    .sign-box__img {
        height: 80px;
        width: 80px;
        padding: 14px;
        margin-bottom: 5px;
    }
    .button-email-next {
        margin-top: 0;
        padding: 5px 10px;
    }
    .success_card img {
        max-width: 95%;
    }
    .final_text {
        font-size: 13px;
    }
    h2.final_title {
        margin: 20px 0 20px;
    }
    .footer-links {
        flex-direction: column;
        align-items: center;
        min-width: 100%;
    }
}


/* CartonBox Custom */
.cartonbox-body {
    -webkit-transition: -webkit-filter 0.2s;
    -webkit-transition: -webkit-filter 0.2s;
    transition: -webkit-filter 0.2s;
    transition: filter 0.2s;
    transition: filter 0.2s, -webkit-filter 0.2s;
    overflow-x: hidden;
}

.cartonbox-go {
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.cartonbox-content h2 {
    padding: 0;
    margin-top: -10px;
}

.cartonbox-nav-dotted li:before {
    display: none;
}

.cartonbox-up .cartonbox-wrap {
    -webkit-transition: -webkit-transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-transform: translate3d(0, -200px, 0);
    transform: translate3d(0, -200px, 0);
}

.cartonbox-up .cartonbox-close,
.cartonbox-up .cartonbox-prev,
.cartonbox-up .cartonbox-next,
.cartonbox-up .cartonbox-nav,
.cartonbox-zoom-start .cartonbox-close,
.cartonbox-zoom-start .cartonbox-prev,
.cartonbox-zoom-start .cartonbox-next,
.cartonbox-zoom-start .cartonbox-nav {
    opacity: 0;
}

.cartonbox-zoom-start .cartonbox-wrap {
    -webkit-transition: -webkit-transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
}

.cartonbox-zoom-finish .cartonbox-wrap {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.cartonbox-wrap.cartonbox-inline {
    max-width: 95%;
    padding: 0 35px;
}

.cartonbox-item .cartonbox-container {
    padding-left: 15px;
    padding-right: 15px;
}
/* new style 19/10/2022 */
.step_6 .step_mail__white-box{
padding: 15px;
    background-color: #fff;
    border: 2px solid silver;
    border-radius: 30px;
    width: 100%;
    background: #eaf9fe;
}
.step_6 .legend{
    width: 30%;
    margin-bottom: 0px;
    text-align: left;
    margin-left: 34px;
    font-size: 20px;
    line-height: inherit;
    color: #054a71;
    font-family: 'Circe-Light', sans-serif;
    border-bottom: 0px solid #e5e5e5 !important;
    padding-left: 16px;
    font-weight: 600;
}
.step_6 .check_text{
    font-size: 18px;
}
@media (max-width: 767px){
    .step_6 .check_text{font-size:14px;}
    .step_6 .legend{width: 50%;font-size: 16px;}
}
.font-50{
    font-size: 50px;
}
.text-dark{
    color: #000;
}
.text-center{
    text-align: center !important;
}
.pt-2{
    padding-top: 2rem!important;
}
.px-3{
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}
.color-054A71{
    color: #054A71;
}

.font-20{
    font-size: 20px;
}
.modal-title{
    color: #000;
}
.font-65{
    font-size: 65px;
}
.modal-header{
    border-bottom:none;
}
.close-btn{
    font-size: 50px;
}
.pb-30{
    padding-bottom: 30px;
}
.social_icon {
    width: 80ox;
    border-radius: 50%;
    border: 1px solid #fff;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.font-40{
    font-size: 40px;
}
.texts-start{
    text-align: start;
}
